logs
project/project
project/target
target
tmp
.history
dist
.idea/
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.settings
